footer
  position: absolute
  width: 100%
  bottom: 0
  @extend .text-uppercase
  @extend .text-center
  @extend .text-light
  font-size: 0.8em
  padding: 5px 0
  z-index: 10
  color: $purple

  p
    background: white
    display: inline-block
    padding: 0 15px