// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// WEIGHT
.text-light
  font-weight: 100

.text-bold
  font-weight: 500

h1, h2, h3
  @extend .text-light


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase
  letter-spacing: 0.1em

.text-capitalize
  text-transform: capitalize

h4
  @extend .text-uppercase


// MARGINS
h1, h2, h3, h4, p
  margin: 0 0 0.5em


// SIZES
h1
  font-size: 6em

  @media (max-width: 1000px)
    font-size: 4em

h2
  font-size: 4em

  @media (max-width: 1000px)
    font-size: 2em

h3
  font-size: 3em

  @media (max-width: 1000px)
    font-size: 1.8em


// STYLES
h1, h2, h3
  background: $purple
  background: -moz-linear-gradient(-45deg,  $purple 0%, $pink 50%, $orange 100%)
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$purple), color-stop(50%,$pink), color-stop(100%,$orange))
  background: -webkit-linear-gradient(-45deg,  $purple 0%,$pink 50%,$orange 100%)
  background: -o-linear-gradient(-45deg,  $purple 0%,$pink 50%,$orange 100%)
  background: -ms-linear-gradient(-45deg,  $purple 0%,$pink 50%,$orange 100%)
  background: linear-gradient(135deg,  $purple 0%,$pink 50%,$orange 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$orange',GradientType=1 )
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

h4
  color: $orange

.number
  font-size: 7em
  line-height: 1em
  @extend .text-light
  margin: 0
  color: $pink

a
  text-decoration: none
  color: inherit
  position: relative
  +transition(all 300ms)