extends layout

block content
  .content.yes
    h2 United States &mdash; yes, you should tip!

    .row
      .col
        h4 Restaurants
        p.number 20%
      .col
        h4 Taxis
        p.number 20%
      .col
        h4 Hotels
        p.number 20%

  .content.no
    h2 Australia &mdash; nope, you're sweet!