extends layout

block content
  .content
    h1 Should I Tip?
    //- include partials/country-dropdown

    #ui-widget
      input(id="countries", placeholder="Start typing a country...")

    a.btn(href="/country")
      i.fa.fa-angle-double-right